:root{
    --color-blok: rgb(0, 0, 151);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background-color: rgb(100, 104, 131);
}

main{
    position: relative;
    height: 100vh;
}

.header{
    position: fixed;
    height: 5rem;
    text-align: center;
    width: 100%;
    background-color: var(--color-blok);
    font-size: 2rem;
    color: white;
    padding: 1.5rem;
}

#form{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

#input{
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.submit{
    background-color: var(--color-blok);
    color: white;
    padding: 0 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: 0;
}

ul{
    list-style: none;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li{
    background-color: var(--color-blok);
    border-radius: 1rem;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.registr-form{
    padding-top: 5rem;
    height: calc(100vh - 4.5rem);

    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.register-form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 200px);
    padding: 1.5rem;
    gap: 0.5rem;
    background-color: var(--color-blok);
    border-radius: 1rem;
}

#exitButton, #registerButton{
    position: fixed;
    order: -1;
    top: 5px;
    right: 5px;
    height: 30px;

}
